*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
} 


.container{
    display: flex;  
    width: 100%;  
    height: 12vh;
    background: red; 
    justify-content: center; 
    
}  
input{
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 1px; 
    
} 

input:nth-child(1) {
    width: 75%;
} 

input:nth-child(2){
    width: 12%;
}

.containert{
    
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}  

.open {
    display: flex;  
    padding: 20px;
    
} 

.openp{
    padding-right: 40px;
}



h3{
    background-color: red; 
    display: flex;
    justify-content: center;
}